* {
  padding: 0;
  margin: 0;
  /* background-color: black;
  border: 1px solid white;
  border-radius: 2.5vh; */
  overflow-x: hidden;
overflow-y: hidden;
}
.Main_Porpoise_Img {
  width: 50vh;
  height: 50vh;

  border: 2px;
  border-radius: 100%;
  border-color: white;
  border-style: solid;
  margin: 0dvh;
  transition: ease-in-out 100s;
  /* filter: blur(5000px); */
}
.Main_Porpoise_Img:hover {
  transform: rotateZ(36000deg) scale(1.5);
  filter: blur(0px);
}
div:hover {
  /* border-radius: 10vw;
  transition: ease-in-out 500ms;
  transform: rotateZ(360deg); */
}
h1 {
  /* transition: 250ms ease-in-out; */
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
h1:hover {
  /* font-family: "Courier New", Courier, monospace; */
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.Item_Box{
  border: 0.5dvh;
  border-radius: 2.5dvh;
  border-color: black;
  border-style: solid;
  font-size: 5dvh;
  width: 15dvw;
  height: 15dvh;
  transition: 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Medium_Item_Box{
  border: 0.5dvh;
  border-radius: 2.5dvh;
  border-color: black;
  border-style: solid;
  font-size: 5dvh;
  width: 25dvw;
  height: 15dvh;
  transition: 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Large_Item_Box{
  border: 0.5dvh;
  border-radius: 2.5dvh;
  border-color: black;
  border-style: solid;
  font-size: 5dvh;
  width: 35dvw;
  height: 25dvh;
  transition: 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Item_Box:hover{
  font-weight: bold;
  color: white;
  text-decoration: underline;
  border-color: White;
  filter: drop-shadow(10);
}
.Medium_Item_Box:hover{
  font-weight: bold;
  color: white;
  text-decoration: underline;
  border-color: White;
  filter: drop-shadow(10);
}
.Large_Item_Box:hover{
  font-weight: bold;
  color: white;
  text-decoration: underline;
  border-color: White;
  filter: drop-shadow(10);
}
.Div_Hori_P1 {
  width: 100%;
  height: 30%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.Div_Hori_P2 {
  width: 100%;
  height: 45%;
  display: flex;
  flex-flow: row nowrap;
  /* background-color: aqua; */
}
.Div_Hori_P2P5 {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.Hori_P2P5_Text {
  border-radius: 2.5dvh;
  border: 1dvh;
  border-color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
.Div_Hori_P3 {
  width: 100%;
  height: 25%;
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.Div_Vert {
  width: 50%;
  height: 100%;
  /* background-color: red; */
}
.Div_Title {
  width: 100dvw;
  height: 10vh;
  left: 0;
  background-color: red;
}
.Div_Box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  /* background-color: crimson; */
  left: -1dvh;
  /* width: 400dvh;
  height: 400dvh; */
  color: #fff;
  background: linear-gradient(-45deg, hsl(72, 5%, 65%), hsl(192, 95%, 65%), hsl(204, 100%, 65%), hsl(178, 68%, 65%), hsl(160, 34%, 65%) );
  /* background: linear-gradient(-45deg, #ccff00, #6200ff, #04ff00, #ffb300, #ff0000 ); Rainbow Gradient because funny :D */
  background-size: 400% 400%;
  animation: Gradient 5s forwards infinite;
}
div {
  /* z-index: -1; */
  /* top: 0;
  bottom: 0; */

}
@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
#Div_Vert_1 {
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-flow: row nowrap;

  align-content: center;
  justify-content: center;
  align-items: center;
}
#Div_Hori_1 {
  width: 50%;
  height: 100%;
  /* background-color: Blue; */
  display: flex;
  flex-flow: column nowrap;
}
.Img_Alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Commented code to copy and paste back into HTML later

      <div
        style="
          width: 50%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img
          src="Porpoise_500x500.png"
          alt="Porpoise500x500"
          class="Main_Porpoise_Img"
        />
        
Seperation Line -----------------------------


            <!-- <div class="navbar"
        <ul class="navlist">
            <a class="navitem" href=""><li>test</li></a>
        </ul>
    </div> 
    <h1 class="font">Testing random things</h1>
    <div style="width: 100vw; height: 10vh; ">
    <img
      src="Porpoise_500x500.png"
      alt="Porpoise500x500"
      style="
        width: 71vh;
        height: 71vh;
      "
      class="border"
    />
    </div>
    <div id="gradient"></div>
    <div class="TestBox">test</div> -->

    Seperation Line-------------------------------
        <div style="width: 100wv; height: 89vh">
      </div>
      <div style="width: 50%; height: 100%; display: flex; flex-flow: row nowrap">
        <div></div>
      </div>
    </div>

Seperation Line ---------------------------------

/*   
  min-width: min-content;
  max-width: fit-content;
  width: auto;
  min-height: min-content;
  max-height: fit-content;
  height: auto;
  padding: 3vw;
  padding-top: 2vw;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2vw;
  border-width: 0.2rem;
  border-color: hsl(184, 100%, 38%);
  border-style: solid;
  backdrop-filter: blur(1vh);
  z-index: 2; */
/* 
  min-width: min-content;
  max-width: fit-content;
  width: auto;
  min-height: min-content;
  max-height: fit-content;
  height: auto;
  padding: 3vw;
  padding-top: 2vw;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2vw;
  border-width: 0.2rem;
  border-color:hsl(184, 100%, 38%) ;
  border-style: solid;
        */
